/* .image {
    width: 80%;
    height: 100%;
    max-width: unset !important;
} */

.maxi {
    position: relative;
    max-width: 110%;
    width: 100.9%;
    overflow: hidden; /* Add this line to prevent background overflow */
}

.image-background {
    position: absolute; /* Use absolute positioning to position the background image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place the background image behind the content */
    opacity: 0.3; /* Adjust the opacity as needed */
}
