

.maxi {
    position: relative;
    max-width: 110%;
    width: 100.9%;
    overflow: hidden; 
}

.image-background {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    opacity: 0.3; 
}

.sign-up{
    margin-right: 10%;
}

.option{
    border-radius: 20px;
}
