.errors{
    font-size: .875em;
    color: rgba(220, 53, 69, 1.0);
}
.border{

    border-color:rgba(220, 53, 69, 1.0) 
}

.title{
    font-size: 1.1rem;
}

.actor-div{
    margin-top: 3%;

}
.actor{
    display: flex;
    justify-content: space-between;
}

.actor-form-group{
    width: 80%;
}